@model IEnumerable<CloudServiceChallenge2.Models.UserDataModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Game Data</h1>

<p>
    <a asp-action="Create">新しくする</a>
</p>
<a class="btn btn-primary" asp-action="Create100Data">Create 100 Data</a>
<a class="btn btn-primary" asp-action="Play">Play</a>
<a class="btn btn-danger" asp-action="DeleteAllData">Delete All</a>
<a class="btn btn-primary" asp-action="FixError">Fix Error</a>
<a class="btn btn-primary" asp-action="SortUserData">Top Ten</a>

<table class="table">
    <thead>
        <tr>
            <th>
                名前
            </th>
            <th>
                勝利数
            </th>
            <th>
                敗北数
            </th>
            <th>
                ドローの数
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfWins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDefeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDraws)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId">編集</a> |
                    <a asp-action="Details" asp-route-id="@item.UserId">詳細</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserId">削除</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>
